<section>
  <h2>はじめに</h2>
  <p class="texts">
      「Simple Pokédex」は、ポケモンのWiFi対戦中「・・・コイツどんなポケモンやっけ？」ってなったときに、サクッと見れるシンプルなポケモン図鑑です。<br>
      そのため、データは最低限必要なものだけに絞ってあります。<br>
  </p>
</section>

<section>
  <h2>データについて</h2>
  <p class="texts">
      本サイトで確認できる各データは、最新作である「X・Y(いわゆる第六世代)」のものです。<br>
      今作で種族値が変更になったポケモンや、特性に変更があったものも反映してあります。<br>
      一部リークされた情報や、最新作ORASの予告情報も追加してあります。<br>
      <br>
      新たに公開された情報があれば、随時更新していく予定です。<br>
      公式サイトで公表されてない情報は、ちょっと様子見します。
  </p>
</section>

<section>
  <h2>不具合・ご要望は</h2>
  <p class="texts">
      「○○のデータが間違ってる・・」や、「こういう機能ほしい！」というものがあれば<a href="https://twitter.com/leader22" target="_blank">@leader22</a>までご報告いただけると嬉しいです。
  </p>
</section>
