<!DOCTYPE html>
<html lang="<%- lang %>">
<head>
<meta charset="UTF-8">
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta name="apple-mobile-web-app-title" content="Pokédex" />
<!-- <link rel="apple&#45;touch&#45;icon" href="/img/touch&#45;icon.png"> -->
<!-- <link rel="apple&#45;touch&#45;icon" sizes="76x76" href="/img/touch&#45;icon.png"> -->
<!-- <link rel="apple&#45;touch&#45;icon" sizes="120x120" href="/img/touch&#45;icon.png"> -->
<!-- <link rel="apple&#45;touch&#45;icon" sizes="152x152" href="/img/touch&#45;icon.png"> -->
<!-- <link rel="shortcut icon" href="/img/favicon.ico"> -->
<title><%- title %>Simple Pokédex</title>
</head>
<body>
    <%- body %>
</body>
</html>
