<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-title" content="Pokédex" />
    <meta name="description" content="<%- metaTags.description %>" />
    <meta name="keywords" content="ポケモン,XY,メガシンカ,オメガルビー,アルファサファイア,ORAS,ゲンシカイキ<%-: metaTags.keywords | joinComma %>">
    <meta name="google" content="notranslate" />
    <link rel="apple-touch-icon" href="/img/touch-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/touch-icon.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/touch-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/touch-icon.png">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="/static/css/style.css" rel="stylesheet">
    <title><%-: title | title %>Simple Pokédex</title>
</head>
<body>
    <div class="l-container">
        <header class="l-view-header">
            <h1 id="js-view-header"><%- title %></h1>
        </header>

        <div class="l-loading-layer" id="js-loading-layer"></div>
        <div id="js-view-content" class="l-view-content">
            <div class="l-view-<%- page %>"><%- body %></div>
            <% if (page !== 'index') { %>
            <a href="/" class="b-anchor-btn">トップへ</a>
            <% } %>
        </div>

        <footer class="l-view-footer">
            Simple Pokédex | <%- copyright %> <a href="https://twitter.com/leader22" target="_blank" class="anchor-txt">@leader22</a>
        </footer>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>
